@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes slideOver {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOverReverse {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(900px);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#content {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}

#navbar {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(38, 163, 38);
  box-shadow: 0px 3px 5px rgb(187, 187, 187);
}

#navbar p {
  padding-left: 10px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bold;
}

#navbar ul {
  margin: 0;
  height: 50px;
  list-style: none;
  display: flex;
}

#navbar ul li {
  width: 100px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar ul li:hover {
  background-color: rgb(1, 228, 1);
}

#navbar ul li a {
  margin: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

#navbarItem2 {
  position: relative;
}

#dropDown1 {
  position: absolute;
  display: block;
  top: 50px;
  margin: 0;
  padding-left: 10px;
  width: 90px;
  background-color: lightgrey;
  box-shadow: 3px 1px 5px rgb(187, 187, 187);
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

#navbar #dropDown1 a {
  width: max-content;
  margin-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

#dropDown1.dropdown-hidden {
  display: none;
}

#navbar .icon {
  display: none;
}

#slideFrame {
  margin: 7% auto;
  background-color: grey;
  height: 600px;
  width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
}

#slideContent {
  position: relative;
  z-index: 0;
  transition: width 300ms ease-in-out;
  min-width: 720px;
  height: 80%;
  background-color: lightgray;
  overflow: hidden;
}

.slideImage {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: auto;
}

.slideImage.active {
  animation: slideOver 1s ease-in-out 0s 1;
  transform-origin: right center;
}

.slideImage.reverse {
  animation: slideOverReverse 1s ease-in-out 0s 1 forwards;
  transform-origin: left center;
}

#dotContainer {
  position: absolute;
  top: 92%;
  width: max-content;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid lightgray;
}

.dot:hover {
  transform: scale(1.2);
}

.selected {
  border: 1px solid lightgray;
  background-color: lightgray;
}

#prevBtn,
#nextBtn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: black;
  width: 100px;
  height: 100px;
  background-color: rgba(211, 211, 211, 0.192);
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: rgba(211, 211, 211, 0.651);
}

#prevBtn {
  left: 0px;
  border-radius: 0 3px 3px 0;
}

#nextBtn {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

@media only screen and (max-width: 600px) {
  #navbar ul {
    display: none;
  }
  #navbar .icon {
    display: block;
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #navbar .responsive {
    height: 100vh;
    background-color: rgb(173, 173, 173);
    box-shadow: 3px 0px 5px lightgray;
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
    padding-left: 0px;
    text-align: left;
  }

  #navbar .responsive div {
    height: min-content;
  }

  #navbar .responsive li {
    height: min-content;
    width: 100px;
    display: block;
    /* display: flex;
    justify-content: left; */
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  #navbar .responsive li a {
    width: 100%;
    display: flex;
    align-self: flex-start;
  }

  #navbar .responsive #dropDown1 {
    width: 80px;
    height: min-content;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    position: relative;
    top: 0px;
    left: -10px;
    padding-left: 30px;
    box-shadow: none;
  }

  #navbar .responsive #dropDown1 a {
    margin: 0px;
    padding-top: 5px;
  }
}
